//
// _card.scss
//

.card {
  margin-bottom: 16px;
  background-color: $card-bg;
  border: 1px solid $border;
  .card-header{
    background-color: $card-bg;
    border-bottom: 1px solid $border_2;
    &:first-child {
      border-radius: calc(.5rem - 5px) calc(.5rem - 5px) 0 0;
    }
  }
  .card-footer{
    background-color: $card-bg;
    border-top: 1px dashed $border;
    border-radius: 0 0 calc(.5rem - 5px) calc(.5rem - 5px);
  }
}



