body.dark-mode {
	background-color: #121212;
	color: #ffffff;

	.card {
		background-color: #121212;
		color: #f8f9fa;
	}

	.table {
		background-color: #495057;
		color: #f8f9fa;

		th {
			background-color: #343a40;
			color: #f8f9fa;
		}
		td {
			border-color: #6c757d;
			color: white;
		}
	}

	.topbar-nav,
	.dropdown-menu {
		background-color: #343a40;
		color: #f8f9fa;
	}

	.topbar-icon,
	.nav-user-name {
		color: #ff6f00 !important;
	}

	.dropdown-menu input,
	.css-yk16xz-control {
		color: #ff6f00;
		background-color: #495057 !important;

		&:hover {
			background-color: #5a6268;
			color: #ffffff;
		}
	}

	.dropdown-item {
		background-color: #343a40 !important;
		color: #f8f9fa !important;

		&:hover {
			background-color: #5a6268 !important;
			color: #ffffff !important;
		}
	}

	.left-sidenav {
		background-color: #121212;
		color: #ff6f00;
	}

	.menu-label {
		color: #ff6f00;
	}

	.nav-link {
		color: #f8f9fa;

		&:hover {
			background-color: #343a40;
			color: #ffffff;
		}
	}

	.nav-link.active {
		background-color: #495057;
		color: #ffffff;
	}

	.hr-dashed.hr-menu {
		border-color: #ff6f00;
	}

	.btn {
		background-color: #ff6f00 !important;
		color: #ffffff;
		border-color: #ff6f00;

		&:hover {
			background-color: #ff6050;
			color: #343a40;
			border-color: #ff6f00;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	p {
		color: #ffffff;
	}

	.breadcrumb-item,
	.page-title,
	.d-link,
	.las,
	span {
		color: #ffffff !important;

		&:hover {
			color: #00ffff;
		}
	}

	.nav-item {
		color: #ffffff;

		&:hover {
			color: #ff6f00;
		}
	}

	.text-muted {
		color: #ffffff;
	}

	.text-primary {
		color: #ffffff;
	}

	.text-success {
		color: #ffffff;
	}

	.text-info {
		color: #ffffff;
	}

	.text-warning {
		color: #ffffff;
	}

	.text-danger {
		color: #ffffff;
	}

	.text-light {
		color: #ffffff;
	}

	.text-dark {
		color: #343a40;
	}

	.text-body {
		color: #ffffff;
	}

	input::placeholder,
	textarea::placeholder {
		color: #b0b0b0;
		opacity: 0.7;
	}

	input,
	textarea,
	select {
		background-color: #343a40;
		color: #ffffff;
	}

	label {
		color: #ffffff;
	}
}
