// ThemeToggle.scss
.theme-toggle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 50px;
	background-color: var(--bs-light);
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	svg {
		color: var(--bs-dark);
	}

	&.bg-dark {
		background-color: var(--bs-dark);

		svg {
			color: var(--bs-light);
		}
	}
}
